* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.row-num {
    align-self: center;
    font-size: 3rem;
    margin-top: 3rem;
}

.header {
    margin-top: 3rem;
}

.row-1-1 {
    margin: 1rem 0;
}

.row-1-2 {
    margin: 1rem 0;
}

.btn {
    /* background-color: DodgerBlue; */
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.5rem;
}

.round-icon {
    border-radius: 100%;
    padding: inherit;
    width: 3rem;
    height: 3rem;
}

.h-icon {
    background-color: grey;
}

.n-icon {
    background-color: orangered;
}

.op-icon {
    background-color: purple;
}

.r-icon {
    background-color: orangered;

}

.delete {
    background-color: rgb(241, 35, 35);
}

.send {
    background-color: rgb(15, 116, 216);
}

.upload {
    background-color: rgb(214, 211, 211);
    color: black;
}

.talk {
    background-color: rgb(214, 211, 211);
    color: black;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.save-small {
    font-size: small;
    background-color: rgb(15, 116, 216);
}

.save-big {
    font-size: large;
    background-color: rgb(15, 116, 216);
}

.card {
    width: 25rem;
    height: auto;
    border: 15px rgb(209, 204, 204) solid;
    object-fit: cover;
    align-items: center;
    margin: 10rem 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

.card-dp-name {
    display: flex;
    align-items: center;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    color: rgb(137, 135, 135);
}

.card-react {
    display: flex;
    align-items: center;
}

.text-para {
    padding: 5px 0;
    color: rgb(138, 137, 137);
}

.card-image {
    display: block;
    width: 100%;
    object-fit: contain;
}

.card-text {
    margin: 0.3rem 0.4rem;
}

.card-arrow {
    border: solid rgb(137, 135, 135);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dashboard {
    height: 40rem;
    width: 70rem;
    background-color: lightgray;
    border: 2px solid;
    box-shadow: 0.1rem 0.1rem;
    margin: 1rem 0;
    padding: 0.8rem 1rem;
}

.column-card {
    display: grid;
    text-align: center;
    font-size: small;
    grid-template-columns: 2fr 8fr;
}

.c20 {
    background-color: rgb(174, 173, 173);
    height: 100%;
}

.c20-list {
    list-style-type: none;
}

.active-element-list-c20 {
    color: rgb(65, 65, 244);
    padding: 0.4rem 0;
}

.non-active-element-list-c20 {
    padding: 0.4rem 0;
}

.card-image-rat {
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
    border: 1px solid white;
}

.c20-footer {
    margin: 1rem;
}

.c80 {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(215, 219, 221);
    padding: 2rem 4rem;
    text-align: start;
}

.c80-description {
    margin: 2rem 0;
}

.c80-span {
    color: rgb(174, 173, 173);
}

.c80-middle-box {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    background-color: white;
    margin: 2rem 0;
}

.c80-middle-box-header {
    margin: 0.5rem 0.2rem;
}

.c80-middle-box-description {
    margin: 0.5rem 0.2rem;
    color: rgb(161, 163, 164);
}

.c80-middle-box-inside-grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 1rem;
}

.c80-middle-box-inside-grid-tool {
    width: 8rem;
    height: 4rem;
    background-color: rgb(215, 219, 221);
    padding: 1rem;
}

.c80-middle-box-arrow {
    text-align: center;
    padding: 2.5rem;
}


.c80-tools-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    margin: 1rem 0;
}

.c80-tool-box {
    width: 7rem;
    height: 7rem;
    background-color: white;
    padding: 2rem 0;
    text-align: center;
}

.tools-icon-img {
    width: 2rem;
    height: 2rem;
}